{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% if title %}
    <title> Noteshub - {{ title }} </title>
    {% else %}
    <title> Noteshub </title>
    {% endif %}
</head>

<body>
    <header>
        <nav>
            <div class="logo">Noteshub</div>
                <ul>
                    <li><a href="{% url 'noteshub:posts_home' %}">Home</a></li>
                    <li><a href="{% url 'noteshub:posts_list_subject' 'all' %}">Notes</a>
                        <ul>
                            <li><a href="{% url 'noteshub:posts_list_subject' 'physics' %}">Physics</a></li>
                            <li><a href="{% url 'noteshub:posts_list_subject' 'maths' %}">Maths</a></li>
                            <li><a href="{% url 'noteshub:posts_list_subject' 'c' %}">C</a></li>
                            <li><a href="{% url 'noteshub:posts_list_subject' 'pst' %}">PST</a></li>
                            <li><a href="{% url 'noteshub:posts_list_subject' 'fit' %}">FIT</a></li>
                            <li><a href="{% url 'noteshub:posts_list_subject' 'ct' %}">CT</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'noteshub:posts_about' %}">About Us</a></li>
                </ul>
        </nav>
       </header>
       <!--content area -->
        <div class="main">
                {% block content %}
                {% endblock content %}
        </div>
    </body>

</html>
