{% extends 'layouts/base.html' %}
{% comment %}our custom template tag module{% endcomment %}
{% load posts_tags %}

{% block content %}
<!-- Is this how you're supposed to do it? -->
<section id="header">
    <h1> Welcome to noteshub </h1>
</section>
<section class="main">
    <p>You can find the notes based on subjects up in the naviation bar.</p>
    <p>There are {% total_posts %} posts so far. See what the recent uploads are:</p>
    <h3> Latest Uploads </h3>
    <!-- this curly brackets is rendering the latest uploads, do the designing work in latest_uploads.html -->
        {% show_latest_uploads %}
</section>
{% endblock content %}
