{% extends "layouts/base.html" %}

{% block content %}
<!-- this isn't working, please fix...
     need the content to be at the center-->
<section class="main">
    {% for post in subject_posts %}
        <h1>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h1>
        <p class="date">
            <i> Published on {{ post.created|date:'M j, Y' }} by {{ post.author }}</i>
        </p>
        {{ post.description|truncatewords:30|linebreaks }}
    {% empty %}
        <h2>There appears to be no post for this subject.<h2>
    {% endfor %}
</section>
    {% if is_paginated %}
        {% include "layouts/pagination.html" %}
    {% endif %}
{% endblock content %}
