{% extends "layouts/base.html" %}

{% block content %}
    <section id="header">
        <h1>SEM-1 SE SOLUTIONS</h1>cd
    </section>
    <div class="main">
             <ul>SUBJECTS
                <li><a href="#">Physics</a></li>
                <li><a href="#">Mathematics</a></li>
                <li><a href="#">C Programming</a></li>
                <li><a href="#">Problem Solving technique</a></li>
                <li><a href="#">Communication technique</a></li>
                <li><a href="#">Fundamental of IT</a></li>
            </ul>
           </div>
   {% endblock content %}
                        
